<p id="notice"><%= notice %></p>

<p>
  <b>Phone number:</b>
  <%= @user.phone_number %>
</p>

<p>
  <b>Fname:</b>
  <%= @user.fname %>
</p>

<p>
  <b>Lname:</b>
  <%= @user.lname %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Address:</b>
  <%= @user.address %>
</p>

<p>
  <b>Account number:</b>
  <%= @user.account_number %>
</p>

<p>
  <h1>Listing readings</h1>

<table>
  <tr>
    <th>Meter reading</th>
    <th>Created at</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @readings.each do |reading| %>
  <tr>
    <td><%= reading.meter_reading %></td>
    <%min = cookies[:timezone].to_i
      Time.zone = ActiveSupport::TimeZone[-min.minutes]%>
    <td><%= reading.created_at.to_formatted_s(:short)%></td>
    <td><%#= link_to 'Show', reading %></td>
    <td><%#= link_to 'Edit', edit_reading_path(reading) %></td>
    <td><%#= link_to 'Destroy', reading, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
